
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <table class="table table-dark table-borderless">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CategoryName</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <a class="btn btn-outline-warning"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Düzenle
                    </a>
                    <a class="btn btn-outline-danger"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Sil
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <a class="btn btn-outline-warning"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Düzenle
                    </a>
                    <a class="btn btn-outline-danger"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Sil
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <a class="btn btn-outline-warning"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Düzenle
                    </a>
                    <a class="btn btn-outline-danger"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Sil
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
